{% extends "templates.html"%} 
{% block main%}
<div class="mt-5"></div>
<div class="card ">
  <div class="card-header bg-secondary text-white">
    <p class="card-title">Masukkan URL foto</p>
  </div>
  <div class="card-body p-5">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Url Foto"
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="inputGroupFileAddon04"
    >
      Kirim
    </button>
  </div>
</div>
</div>
{% endblock%}
